:root {
  --brand-color: #0f766e;
}

* {
  font-family: "Inter", "Roboto", sans-serif;
}

/* Hide scrollbar utility */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
